{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["airbnb", "prettier", "plugin:prettier/recommended"],
  "plugins": ["prettier", "html", "markdown"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "no-unused-vars": "warn"
  }
}
